.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
    background-color: rgb(52, 163, 163);
}
#active {
    background-color: rgb(48, 20, 20);
    color: rgb(148, 203, 249);
}
.shaded {
    background-color: #ccc;
}
.emphasize {
    font-weight: bold;
    color: darkred;
}
.center {
    text-align: center;
}
p {
    width: 60%;
}
a {
    font-size: 1.5em;
}
